* {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.main-body {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  gap: 50px;
}

.add-todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.todo-list {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 15px;
}

.todo-button {
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.post-button {
  margin-top: 10px;
  background-color: rgb(56, 64, 165);
  color: white;
}

.post-button:hover {
  background-color: rgb(48, 53, 116);
}

.clear-button {
  background-color: rgb(24, 205, 218);
  color: white;
}

.clear-button:hover {
  background-color: rgb(24, 147, 156);
}

.mark-button {
  background-color: rgb(22, 199, 96);
  color: white;
}

.mark-button:hover {
  background-color: rgb(21, 136, 69);
}

.delete-button {
  background-color: rgb(224, 74, 54);
  color: white;
}

.delete-button:hover {
  background-color: rgb(172, 55, 40);
}

textarea {
  height: 100px;
  border-color: rgb(197, 197, 197);
  border-radius: 5px;
}

#item-list {
  padding: 0;
}

.todo-item {
  border-radius: 5px;
  border: solid 1px rgb(216, 216, 216);
  margin-top: 15px;
  list-style: none;
  padding: 15px;
}

.todo-item > input {
  margin-right: 10px;
}
